<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.saml.inter.InvokableNodeMapper" >
  <resultMap id="BaseResultMap" type="com.saml.model.InvokableNode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="projectId" property="projectId" jdbcType="INTEGER" />
    <result column="verifyresultId" property="verifyresultId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="nodeId" property="nodeId" jdbcType="VARCHAR" />
    <result column="nodeName" property="nodeName" jdbcType="VARCHAR" />
    <result column="addTime" property="addTime" jdbcType="TIMESTAMP" />
    <result column="state" property="state" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, projectId, verifyresultId, type, nodeId, nodeName, addTime, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from invokablenode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from invokablenode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.saml.model.InvokableNode" useGeneratedKeys="true" keyProperty="id">
    insert into invokablenode (id, projectId, verifyresultId, 
      type, nodeId, nodeName, 
      addTime, state)
    values (#{id,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{verifyresultId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{nodeId,jdbcType=VARCHAR}, #{nodeName,jdbcType=VARCHAR}, 
      #{addTime,jdbcType=TIMESTAMP}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.saml.model.InvokableNode" useGeneratedKeys="true" keyProperty="id">
    insert into invokablenode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="projectId != null" >
        projectId,
      </if>
      <if test="verifyresultId != null" >
        verifyresultId,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="nodeId != null" >
        nodeId,
      </if>
      <if test="nodeName != null" >
        nodeName,
      </if>
      <if test="addTime != null" >
        addTime,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="projectId != null" >
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="verifyresultId != null" >
        #{verifyresultId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.saml.model.InvokableNode" >
    update invokablenode
    <set >
      <if test="projectId != null" >
        projectId = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="verifyresultId != null" >
        verifyresultId = #{verifyresultId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="nodeId != null" >
        nodeId = #{nodeId,jdbcType=VARCHAR},
      </if>
      <if test="nodeName != null" >
        nodeName = #{nodeName,jdbcType=VARCHAR},
      </if>
      <if test="addTime != null" >
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.saml.model.InvokableNode" >
    update invokablenode
    set projectId = #{projectId,jdbcType=INTEGER},
      verifyresultId = #{verifyresultId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      nodeId = #{nodeId,jdbcType=VARCHAR},
      nodeName = #{nodeName,jdbcType=VARCHAR},
      addTime = #{addTime,jdbcType=TIMESTAMP},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="logicalDeleteListByProjectId" parameterType="java.lang.Integer" >
   update invokablenode
    set state = 2
    where projectId = #{projectId,jdbcType=INTEGER}
  </update>
   <select id="selectInvokableNodeListByProjectIdAndType" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from invokablenode
    where  state=1 and
   	projectId = #{projectId,jdbcType=INTEGER}
   	and type = 	#{type,jdbcType=INTEGER}
     order by id  
  </select>
   <select id="selectInvokableNodeListPageByProjectIdAndType" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from invokablenode
    where  state=1 and
   	projectId = #{projectId,jdbcType=INTEGER}
   	and type = 	#{type,jdbcType=INTEGER}
   	and nodeName like #{keyword,jdbcType=VARCHAR}
     order by id  
  </select>
   <select id="selectByNodeId" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from invokablenode
    where  state=1 and
   	projectId = #{projectId,jdbcType=INTEGER}
   	and nodeId = #{nodeId,jdbcType=VARCHAR}
  	</select>
</mapper>